body
{
	background-image:url("../images/withdraw");
	background-size:100% 100%;
	color:rgb(0,0,205);
	padding-top:50px;
}
#bas
{
	padding-bottom:200px;
}
h1
{
	padding-bottom:30px;
}
#copy
{
	 text-align:right;
}
button
{
	margin-top:25px;
}
h1,footer
{
	color:rgb(0,0,205);
}
.error
{
	color:red;
	font-size:20px;
}
footer
{
	background-color:rgb(79,79,79);
	padding-top:20px;
	padding-bottom:50px;
	height:250px;
	font-size:18px;
	color:rgb(30,145,255);
}
/* pour tablette*/
@media (max-width:992px)
{
	.navbar-brand img
	{
		width:33%;
	}
}